body {font-family:"Metric","sans-serif";}

.container {
	margin: 0 auto;
	max-width:1000px;
	width: 100%

}

h1 {
	display: inline-block;
	content:"";
	font-size: 68px;
	font-weight: 200;
	height: 13px;
	margin-top: 10px;
}
h2 {
	font-size: 42px;
	font-weight: 200;
}
p {
	font-family:"metric";
	font-size: 20px;
}
p.intro-text {
	font-size: 26px;
}
.categ {
	opacity:1.0;
}
.button {
	opacity:1.0;
	font-size: 22px;
	font-weight: 300;
	text-anchor: middle;
}

