/* overall text style for each chart frame*/
svg {
    font-size: 0;
}
.axis {
    font-size: inherit !important;
}

/* .overall text styles on axis*/
.ft-webgraphic-s .axis text,
.ft-webgraphic-m .axis text,
.ft-webgraphic-l .axis text {
    font-family: metric;
}

.ft-webgraphic-s .axis text {
    font-size: 14px;
}
.ft-webgraphic-m .axis text {
    font-size: 16px;
}

.ft-webgraphic-l .axis text {
    font-size: 18px;
}

.ft-printgraphic .axis text {
    font-family: metric;
    font-size: 9.6px;
}
.ft-socialgraphic .axis text {
    font-family: metric;
    font-size: 28px;
}
.ft-videographic .axis text {
    font-family: metric;
    font-size: 48px;
}

/* .tick text on yAxis*/
.ft-webgraphic-s .yAxis text,
.ft-webgraphic-m .yAxis text,
.ft-webgraphic-l .yAxis text {
    fill: #66605C;
    text-anchor: end;
}
.ft-printgraphic .yAxis text{
    text-anchor: end;
}
.ft-socialgraphic .yAxis text{
    fill-opacity: 0.5;
    fill: #FFFFFF;
    text-anchor: end;
}
.ft-videographic .yAxis text{
    fill-opacity: 0.5;
    fill: #FFFFFF;
    text-anchor: end;
}

/* .tick line styles on yAxis*/
.ft-webgraphic-s .yAxis line,
.ft-webgraphic-m .yAxis line,
.ft-webgraphic-l .yAxis line {
    stroke: #CCC1B7;
    stroke-width: 1px;
    stroke-dasharray: 4, 4;
}
.ft-printgraphic .yAxis line{
    stroke: #000000;
    stroke-width: 0.3px;
}
.ft-socialgraphic .yAxis line{
    stroke: #FFFFFF;
    stroke-width: 2px;
    stroke-dasharray: 2, 8;
    stroke-opacity: 0.38;
}
.ft-videographic .yAxis line{
    stroke: #FFFFFF;
    stroke-width: 4px;
    stroke-opacity: 0.38;
}
/* Makes domian invivible on yAxis*/
.ft-webgraphic-s .domain,
.ft-webgraphic-m .domain,
.ft-webgraphic-l .domain {
    stroke-width: 0px;
}
.ft-printgraphic .domain{
    stroke-width: 0px;
}
.ft-socialgraphic .domain{
    stroke-width: 0px;
}
.ft-videographic .domain{
    stroke-width: 0px;
}
/* .tick text on yAxis*/
.ft-webgraphic-s .xAxis text,
.ft-webgraphic-m .xAxis text,
.ft-webgraphic-l .xAxis text {
    fill: #66605C;
    text-anchor: middle;
}
.ft-printgraphic .xAxis text{
    text-anchor: middle;
}
.ft-socialgraphic .xAxis text{
    fill-opacity: 0.5;
    fill: #FFFFFF;
    text-anchor: middle;
}
.ft-videographic .xAxis text{
    fill-opacity: 0.5;
    fill: #FFFFFF;
    text-anchor: middle;
}
.ft-webgraphic-s .xAxis line,
.ft-webgraphic-m .xAxis line,
.ft-webgraphic-l .xAxis line {
    stroke: #CEC6B9;
    stroke-width: 1px;
    stroke-dasharray: 2,1;
}
.ft-printgraphic .xAxis line{
    stroke: #000000;
    stroke-width: 0.3px;
}
.ft-socialgraphic .xAxis line{
    stroke: #FFFFFF;
    stroke-width: 2px;
    stroke-dasharray: 2, 8;
    stroke-opacity: 0.38;
}
.ft-videographic .xAxis line{
    stroke: #FFFFFF;
    stroke-width: 4px;
    stroke-opacity: 0.38;
}
/* Style for the highlight or base line on yAxis*/
.ft-webgraphic-s .baseline line, 
.ft-webgraphic-m .baseline line,
.ft-webgraphic-l .baseline line {
    stroke: #CEC6B9;
    stroke-width: 1px;
    stroke-dasharray: 1, 0;
}
.ft-printgraphic .baseline line{
    stroke: #000000;
    stroke-width: 0.6px;
}
.ft-socialgraphic .baseline line{
    stroke: #FFFFFF;
    stroke-width: 2px;
    stroke-dasharray: 1, 0;
    stroke-opacity: 0.5;
}
.ft-videographic .baseline line{
    stroke: #FFFFFF;
    stroke-width: 4px;
    stroke-opacity: .38;
}
/* Styles for lines on chart*/
.ft-webgraphic-s .lines,
.ft-webgraphic-m .lines,
.ft-webgraphic-l .lines {
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-width: 3px;
    fill: none;
}
.ft-printgraphic .lines{
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    fill: none;
}
.ft-socialgraphic .lines{
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 5px;
    fill: none;
}
.ft-videographic .lines{
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 8px;
    fill: none;
}

/* annotation styling*/

.ft-webgraphic-s .annotations-holder line,
.ft-webgraphic-m .annotations-holder line,
.ft-webgraphic-l .annotations-holder line {
    stroke: #66605C;
    stroke-width: 1px;
}

.ft-printgraphic .annotations-holder line {
    stroke: #000000;
    stroke-width: 0.5px;
}
.ft-socialgraphic .annotations-holder line {
    stroke: #ffffff;
    stroke-width: 2px;
    opacity: 0.7;
}
.ft-videographic .annotations-holder line {
    stroke: #ffffff;
    stroke-width: 4px;
    opacity: 0.7;
}

.ft-webgraphic-s .annotations-holder text {
    font-size: 14px;
}

.ft-webgraphic-m .annotations-holder text {
    font-size: 16px;
}

.ft-webgraphic-l .annotations-holder text {
    font-size: 18px;
}

.ft-webgraphic-s .annotations-holder text,
.ft-webgraphic-m .annotations-holder text,
.ft-webgraphic-l .annotations-holder text {
    fill: #66605C;
}

.ft-printgraphic .annotations-holder text {
    font-size: 9.6px;
    fill: #000000;
}

.ft-socialgraphic .annotations-holder text {
    font-size: 28px;
    fill: #ffffff;
    opacity: 0.7;
}

.ft-videographic .annotations-holder text {
    font-size: 48px;
    fill: #ffffff;
    opacity: 0.7;
}

/* .overall text styles on axis*/
.ft-webgraphic-s .highlights,
.ft-webgraphic-m .highlights,
.ft-webgraphic-l .highlights {
    fill: #F2DFCE;
}

.ft-printgraphic .highlights{
    fill: #95BFC5;
    opacity: 0.3;
}
.ft-socialgraphic .highlights{
    fill: #ffffff;
    opacity: 0.2;
}
.ft-videographic .highlights{
    fill: #ffffff;
    opacity: 0.2;
}
/* legend */
.ft-webgraphic-s .legend,
.ft-webgraphic-m .legend,
.ft-webgraphic-l .legend {
    font-family: metric;
    fill: #66605C;
}

.ft-webgraphic-s .legend {
    font-size: 14px;
}

.ft-webgraphic-m .legend {
    font-size: 16px;
}

.ft-webgraphic-l .legend {
    font-size: 18px;
}

.ft-printgraphic .legend{
    font-family: metric;
    font-size: 9.6px;
}
.ft-socialgraphic .legend{
    font-family: metric;
    fill-opacity: 0.5;
    fill: #FFFFFF;
    font-size: 28px;
}
.ft-videographic .legend{
    font-family: metric;
    fill-opacity: 0.5;
    fill: #FFFFFF;
    font-size: 48px;
}

svg text{
    font-feature-settings: 'tnum',1;
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
}
