/* overall text style for each chart frame*/

[data-frame^="web"] .yAxis text {
    font-size: 18px;
    fill: #74736C;
    text-anchor: end;
}

[data-frame^="print"] .yAxis text{
    font-size: 9.6px;
    text-anchor: end;
}

[data-frame^="social"] .yAxis text{
    font-size: 28px;
    text-anchor: end;
    fill-opacity: 0.5;
    fill: #FFFFFF;
}

[data-frame^="video"] .yAxis text{
    font-size: 48px;
    text-anchor: end;
    fill-opacity: 0.5;
    fill: #FFFFFF;
}

[data-frame^="web"] .yAxis line {
    stroke: #CEC6B9;
    stroke-dasharray: 2, 1;
}

[data-frame^="print"] .yAxis line{
    stroke: #000000;
    stroke-width: 0.3px;
}

[data-frame^="social"] .yAxis line{
    stroke: #FFFFFF;
    stroke-width: 2px;
    stroke-opacity: 0.38;
}

[data-frame^="video"] .yAxis line{
    stroke: #FFFFFF;
    stroke-width: 4px;
    stroke-opacity: 0.38;
}

svg text{
    font-feature-settings: 'tnum',1;
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
}
