/* overall text style for each chart frame*/

[data-frame^="print"] text{
    font-size: 9.6px;
}

[data-frame^="web"] text{
    font-size: 18px;
    fill: #74736C;
}

[data-frame^="social"] text{
    font-size: 28px;
    fill-opacity: 0.5;
}

[data-frame^="video"] text{
    font-size: 48px;
    fill-opacity: 0.5;
}

/* highlight label text style for each chart frame */
[data-frame^="social"] .highlighted-label{
    fill-opacity: 1;
}

[data-frame^="web"] .highlighted-label{
    fill: #333333;
}

[data-frame^="video"] .highlighted-label {
    fill:#FFF;
}

[data-frame^="social"] .highlighted-label {
    fill:#FFF;
}

/*in this example because of the density of lines we need to decrease the opacity of those not being highlighted: */
.background-line{
    stroke-opacity:0.2;
}

svg text{
    font-feature-settings: 'tnum';
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
}
