/* LOLLIPOP H STYLES */

[data-frame=social] text,
[data-frame=video] text {
	fill: #CEC6B9;
}

[data-frame=social] line,
[data-frame=video] line {
	stroke: #CEC6B9;
}

[data-frame=video] .axes line {
	stroke-width: 7px;
}